<!DOCTYPE html>
<html>

  <!--{% include head.html %}-->
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MYSP 2018</title>
    <meta name="description" content="">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,100italic,400italic' rel='stylesheet' type='text/css'>

    <script language="javascript" type="text/javascript" src="lib/p5.js"></script> 
    <script language="javascript" type="text/javascript" src="lib/p5.dom.js"></script> 
    <script language="javascript" type="text/javascript" src="code/vehicle.js"></script>
    <script language="javascript" type="text/javascript" src="code/color.js"></script>
    <script language="javascript" type="text/javascript" src="code/sketch.js"></script>
  
    <style>
      * {
        margin: 0px;
        padding: 0px;
      }
      #sketch-holder {
        height: 100%;
        min-height: 100%;
      }
    </style>
    <script language="javascript" type="text/javascript">        
      var sketch = new Sketch();

      function preload() {
        sketch.preload();
      }

      function setup() {
          frameRate(30);
          var canvas = createCanvas(displayWidth, displayHeight);
          canvas.parent('sketch-holder');
          sketch.setup();
          sketch.setupBoidsForWord("MYSP", false);
      }

      function draw() {
          sketch.draw();
      }

      function changeText(txt) {
        sketch.setupBoidsForWord(txt, false);
      }

      function windowResized() {
        resizeCanvas(windowWidth, windowHeight);
        sketch.setupBoidsForWord(document.getElementById("theText").value, true);
      }
      
    </script> 
    <div class="col-xs-10">
          <input id="theText" type="hidden" class="col-xs-8 form-control" value="MYSP" onkeyup="changeText(this.value)" />
    </div>
  <div id='sketch-holder'></div>
  </head>

  <body class="landing">
    
    <div id="page-wrapper">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>